<html>
<head>
	<title>{{titulo}}</title>
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script src="http://localhost:3000/socket.io/socket.io.js"></script>
	<script src="main.js" type="text/javascript"></script>
</head>
<body>
	<h1>Chat</h1>
	Nick: <input type="text" id="nick">
	<br/>
	Enviar: <button id="conectar">Conectar</button>
	<br/>
	<br/>
	Mensaje: <input type="text" id="message">
	<br/>
	Enviar Publico: <p><button id="enviarMensajePublico">Enviar Mensaje Publico</button></p>
	<br/>
	Enviar Privado: <p><button id="enviarMensajePrivado">Enviar Mensaje Privado</button></p>
	<br/>
	<br/>
	Mensaje: <p><select id="mensajes" multiple="multiple" size="10" style="width: 200px;"></select></p>
	<br/>
	Usuarios: <p><select id="usuarios" multiple="multiple" size="10" style="width: 200px;"></select></p>
	<br/>
	<br/>
	<br/>
	<a href="/logout">Salir!!!</a> 
</body>
</html>